 @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  background-color: #3F4B56;
}

.contents-block{
  background: rgba(19, 33, 50, 0.81);
  margin: 10% 10% 1% 10%;
  border-radius: 2rem;
  padding: 2rem;
}

.name-header-1, .name-header-2{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ECECEF;
  font-family: 'Quicksand', sans-serif;
}
.name-header-1{
  font-size: 2em;
}
.name-header-2{
  font-size: 2em;
  margin-bottom: 2rem;
}
.information{
  text-align: center;
  color: #ECECEF;
  font-size: 2em;
  font-family: 'Quicksand', sans-serif;
}
